<html>
  <head>
    <link rel="icon" href="../images/icon.png" type="image/icon">
    <link rel="stylesheet" type="text/css" href="../css/shared.css">
    <link rel="stylesheet" type="text/css" href="../css/game.css">
    <title>Hangman</title>
  </head>
  <body>
    <div id="progress" class="hangman1"></div>
    <% dashes = "" %>
    <% i = 1 %>
    <% l = len.to_i %>
    <% until i > l do %>
      <% dashes += "_" %>
      <% i += 1%>
    <% end %>
    <div class="word"> <%= word %> </div>
    <div id="keyboard"></div>
  </body>
  <script src="../scripts/game.js"></script>
  <script> init_en(); </script>
</html>
