<html>
  <head>
    <link rel="icon" href="../images/icon.png" type="image/icon">
    <link rel="stylesheet" type="text/css" href="../css/shared.css">
    <link rel="stylesheet" type="text/css" href="../css/game.css">
    <title>Hangman</title>
  </head>
  <body>
    <div id="progress" class="hangman1"></div>
    <div class="word">_B_ _I_ _T_</div>
    <div id="keyboard"></div>
  </body>
  <script src="../scripts/game.js"></script>
  <script> init_en(); </script>
</html>
