<html>
  <head>
    <link rel="icon" href="../images/icon.png" type="image/icon">
    <link rel="stylesheet" type="text/css" href="../css/shared.css">
    <link rel="stylesheet" type="text/css" href="../css/game.css">
    <title>Hangman</title>
  </head>
  <body>
    <div id="progress" class="<%= "hangman#{9 - session[:attempts_left]}" %>"></div>
    <div class="word"> <%= session[:dashes] %> </div>
    <div id="keyboard"> </div>
    <p><%= session[:word] %></p>
  </body>
  <script src="../scripts/game.js"></script>
  <script> init("<%= session[:language] %>"); </script>
</html>
