<html>
  <head>
    <link rel="icon" href="../images/icon.png" type="image/icon">
    <link rel="stylesheet" type="text/css" href="../css/shared.css">
    <link rel="stylesheet" type="text/css" href="../css/game.css">
    <title>Hangman</title>
  </head>
  <body>
    <%= game_partial %>
  </body>
  <script src="../scripts/game.js"></script>
  <script> init(<%language%>); </script>
</html>
