<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
  </head>
  <body>
    <div id="swinging"></div>
    <div class="text">HANGMAN</div>
    <div id="new_game_button"></div>
  </body>
</html>
