<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
  </head>
  <body>
    <div id="swinging"></div>
    <div class="text">HANGMAN</div>
    <div class="dashes">_ _ _ _ _ _ _</div>
    <div class="button" id="new_game_button">PLAY</div>
  </body>
</html>
