<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
  </head>
  <body>
    <div id="gallows"></div>
    <div id="word"></div>
    <div id="keyboard"></div>
  </body>
  <script src="scripts/script.js"></script>
</html>
